@media only screen and (max-width: 1300px) {
    .container{
        padding-inline: 10px;
    }
    }

    @media only screen and (max-width: 1150px) {
        .leftCard{
            max-width: 350px;
        }

        .profilePic{
        height: 300px;
        }

        .info,.exp,.achievement,.tech,.links,.skills{
            max-width: 450px;
        }
    }

@media only screen and (max-width: 900px) {
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left{
    position: relative;
    margin-bottom: 2rem;
    margin-top: 0!important;
}
.leftCard{
    max-width: 450px;
}
.container{
    padding-top: 0;
}
.profilePic{
    height: 380px;
    }
}


@media only screen and (max-width: 480px) {
    .info,.exp,.achievement,.tech,.links,.skills{
        max-width: 350px;
    }

    .leftCard{
        max-width: 350px;
    }
    .profilePic{
        height: 280px;
        }

        .container{
            padding-inline: 0px;
            padding-top: 0;
            margin-top: 0;
        }
}


@media only screen and (max-width: 640px) {
    .tabArea{
        display: none;
    }
}

.mobileArea{
    display: none!important;
}

@media only screen and (max-width: 482px) {
    .mobileArea{
        display: block!important;
    }

    .mobArea{
        display: none;
    }
}