
.marquee {
    color: lightgrey;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.marquee::before, .marquee::after {
    content: '';
    position: absolute;

    bottom: 10;
    width: 70px; /* Adjust the width as needed */
    z-index: 1;
    height: 70px;
    margin-inline: 18px;
}

.marquee::before {
    left: 0;
    background: linear-gradient(to right, rgba(29, 30, 29, 0.9), rgba(25, 25, 255, 0));
    
}

.marquee::after {
    right: 0;
    background: linear-gradient(to left, rgba(29, 30, 29, 0.9), rgba(25, 25, 255, 0));
}

.marquee__content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 20s linear infinite;
}


.marquee__content div {
    width: 5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 5rem;
}


@keyframes scrolling{
    0% { transform: translateX(-0); }
    100% { transform: translateX(-100%); }
    }
    