.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  input[type="range"].slide {
    -webkit-appearance: none;
    position: relative;
    appearance: none;
    width: 100%;
    height: 12px;
    background: #252525;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: opacity 0.2s;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    z-index: 2;
    background: #fff;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    box-shadow: -407px 0 0 400px #fff;
  }
  
  .show {
    animation: fade-in 0.8s forwards;
  }
  
  .marker {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 50%;
    z-index: 0;
    transform: translateY(-50%);
    background: #404040;
    border-radius: 50%;
  }
  
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  
  .fade-in {
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  